.keep-nav {
    width: 250px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 115px;
    font-weight: bolder;
    background-color: white;
}

.keep-nav li {
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}

.keep-nav li.active {
    padding-right: 135px;
    background-color: #FEEFC3;
    border-radius: 3px 30px 30px 3px;
}

.keep-nav button {
    position: absolute;
    bottom: 75px;
    left: 50px;
    padding: 13px 50px;
    background-color: inherit;
    transition: 0.2s;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.keep-nav button:hover {
    background-color: #D90007;
    color: white;
}

@media (max-width: 960px) {
    .keep-nav {
        display: none;
    }
}